body{
    background: var(--white);
}
.white{
    color: white;
}
.grey{
    color: gray;
}
.blue{
    color: #0356fd;
}
header{
    width: 100vw;
    height: 150px;
    border-bottom: 4px solid lightgray;
}

.header__container{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.profile__section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}

.profile__section img{
    height: 80px;
    border-radius: 50%;
}

.profile__section{
    display: flex;
    gap: 20px;
    
}

.heading__profile{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.heading__profile h4{
    display: block;
}



.icons__section{
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;
    align-items: center;
}

.icon__header{
    width: 70px;
    height: 70px;
    border: 4px solid lightgray;
    
    border-radius: 50%;
}

.icon__header a{
    font-size: 30px;
}

.messages__section{
    width: 85%;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 80px;
    overflow: hidden;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.message {
  display: flex;
  gap: 12px;
  width: 100%;
}
.right{  
    /* align-self: self-end; */
    justify-content: flex-end;
}




.message__container__after__img{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.message__container__after__img h5{
    color: rgb(114, 112, 112);
}
.column__info{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.connect__lightgray{
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}
.lightgrauy__line{
    min-width: 30vw;
    border-top: 1px solid  lightgray;
}
.message__container__after__img h4{
    text-align: start;
}

.message__content {
  max-width: 400px;
  padding: 16px 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, #4a90e2, #357bd8);
  color: white;
  align-items: center;
}
.message__content__short{
    max-width: 300px;
    padding: 16px 20px;
    border-radius: 0px 20px 20px 20px;
    background: linear-gradient(135deg, #b3b3f1, #549af5);
    color: white;
    align-items: center;
}
.message__content__white{
    max-width: 400px;
    padding: 16px 20px;
    border-radius: 20px;
    background: rgb(202, 199, 199);
    color: white;
    align-items: center;
}
.message__image img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.message__image{
width: 48px;
  height: 48px;
  border-radius: 50%;
}

.message__icons {
    align-self: center;
  cursor: pointer;
}
.message__icons__right{
    display: flex;
    flex-direction: row;
    align-self: center;
    cursor: pointer;
}
.message__content{
    text-wrap: wrap;
    flex-basis: 500px;
}
.connect__foot__info{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
}

.inline__items{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.right__items{
    flex-direction: row-reverse;
}

.massage__image img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.message__content{
    width: 90%;
    min-height: 40px;

    border-radius: 0px 15px 15px 15px;
background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 50px 0px rgba(42, 139, 242, 0.1);

}

.icons__dashboard{
    position: fixed;
    width: 10%;
    min-height: 150px;
    /* background-color: black; */
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}

.icon__circle{
    width: 40px;
    height: 40px;
    border: 4px solid lightgray;
    
    border-radius: 50%;
}

.message__panel{
    position: fixed;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80px;
    border-top: 4px solid lightgray;
    background-color: var(--white);
    bottom: 0;
    
}

.message__panel textarea{
    width: 80%;
    outline: none;
    border: none;
    font-size: 21px;
    padding-top: 1rem;
    min-height: 60px;
    resize: none;        /* disable manual resize */
}
.message__panel .icons{
    display: flex;
    gap: 40px;
}