*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 20px;
    font-family: "TT Norms", sans-serif;
    --black: #000;
    --white: #fff;
    --min-padding: 5px;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filled{
    color: rgba(42, 139, 242, 1);
}
.filled a{
    text-decoration: none;
}
.inner__elems{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.img__placement{
    margin-left: 3.2rem;
}
.img__placement img{
    border-radius: 60px;
}
.name__text p{
    font-size: 26px;
    font-weight: 500;
}

.arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  position: relative;
  left: 10px;
  bottom: 4px;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow:active{
    transform: rotate(135deg);
    -webkit-transform: rotate(315deg);
}
.middle__info{
    padding: 1rem;
    margin-top: 2rem;
    font-size: 27px;
    font-weight: 700;
    color: rgba(112, 124, 151, 1);
    gap: 3rem;
}
.connected__emoji{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.blue{
    color: rgb(124, 124, 253);
}
.connected__emoji span{
    padding-top: 2.3px;
}
.footer__text{
    margin-top: 8rem;
}
.bg{
    width: 5px;
    height: 40px;
    background-color: rgba(42, 139, 242, 1);
    border-radius: 40px;
    margin-right: 1rem;
    box-shadow: 4px 0px 25px 0px rgba(42, 139, 242, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(42, 139, 242, 0.55);
    box-shadow: 1px 0px 10px 0px rgba(42, 139, 242, 0.45);
}
