*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 15px;
    --black: #000;
    --white: #fff;
    --min-padding: 5px;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #e9e9f0 0%, #FDFBFD 100%);
    font-family: "TT Norms", sans-serif;
}
.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner__elems{
    padding: 3rem;
}
.filled{
    color: rgb(100, 110, 135);
}
.head__info p{
    font-weight: 500;
    font-size: 22px;
}
.head__info h1{
    font-size: 37px;
}
.head__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.arrow {
  border: solid rgb(100, 110, 135);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  cursor: pointer;
  left: 10px;
  bottom: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow:active{
    transform: rotate(135deg);
    -webkit-transform: rotate(315deg);
}

.new__chat{
    width: 270px;
    min-height: 70px;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
    box-shadow: 10px 6px 25px 0px rgba(42, 139, 242, 0.15);
    box-shadow: 4px 4px 25px 0px rgba(42, 139, 242, 0.05);
    box-shadow: 6px 6px 25px 0px rgba(42, 139, 242, 0.15);
    text-align: center;
    justify-content: center;
    font-size: 25px;
    position: relative;
    bottom: 2.8rem;
    left: 36.9rem;
    color: #fff;
    border-radius: 10px;
}
.new__chat p{
    font-weight: 500;
}
.search__section{
    max-width: 830px;
    height: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    border-radius: 15px;
}
/* .info__search__section{
    width: 50%;
} */
.connected__part{
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.search__section p{
    font-size: 22px;
    color: rgb(100, 110, 135);
    margin-left: auto;
}
.blue{
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
}
.blue__2{
    color: rgb(124, 124, 253);
}
.middle__part{
    padding-top: 0.1rem;
    padding-left: 3rem;
}
.messages__placement{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.message{
    max-width: 830px;
    min-height: 170px;
    padding: 3rem;
    background-color: #fff;
    border-radius: 15px;
}
.grey__color{
    color: rgb(100, 110, 135);
}
.message p{
    font-size: 22px;
    font-weight: 500;
    padding-top: 10px;
}
.online{
    width: 17px;
    height: 17px;
    background-color: green;
    border: solid #fff;
    border-radius: 30px;
    position: relative;
    top: 1rem;
}
.placement__head__info{
    display: flex;
    flex-direction: row;
}
.placement__head__info h2{
    margin-left: auto;
    color: rgb(100, 110, 135);
    font-weight: 500;
}
.placement__head__two{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 22px;
}
.placement__head__two h1{
    font-size: 22px;
    font-weight: 700;
}
.placement__head__two h1 a{
    text-decoration: none;
    color: #000;
}
.placement__head__two h3{
    font-size: 19px;
    font-weight: 600;
}
.img__placement img{
    width: 65px;
    height: 65px;
    border-radius: 30px;
}
.red__color{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background: rgba(255, 51, 102, 1);
    box-shadow: 5px 1px 50px 0px rgba(198, 27, 74, 0.15);
    box-shadow: 2px 2px 10px 0px rgba(198, 27, 74, 0.1);
    box-shadow: 4px 4px 15px 0px rgba(198, 27, 74, 0.05);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.voice{
    width: 18px;
    height: 18px;
    background: rgba(42, 139, 242, 0.25);
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
}
.voice__message{
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background: rgba(42, 139, 242, 1);
}
.connect__voice{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.center__conection__second{
    padding-top: 15px;
}
.grey__color span{
    position: relative;
    top: 5px;
}
.info__foot__second{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.files__bg{
    width: 120px;
    height: 50px;
    background: rgba(42, 139, 242, 0.25);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 17px;
    font-weight: 600;
    color: #3389e6;
}
.photo__bg{
    width: 120px;
    height: 50px;
    background: rgba(251, 3, 139, 0.25);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    gap: 3px;
    font-weight: 600;
    color:rgba(255, 51, 102, 1);
}
.white__color{
    color: white;
}